h2 {
    text-align : center;
    color: #848484;
}

li {
    list-style : none;
}
/*
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
*/

svg {
    font: 10px sans-serif;
    margin : 30px;
    /*padding-left:-30px;*/
    margin-left:-300px;
    float : right;
    width: 900px;
}
/*
.axis,
.frame {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #ddd;
}

.axis path {
    display: none;
}*/
/*
.frame {
    fill: none;
    stroke: #aaa;
}

circle {
    fill-opacity: .7;
}

/*.dessous {
    margin-top: 100px;
}*/

/*HOME*/
#tool-box {
    border-width:4px;
    border-style:outset;
    border-color:#848484;
    width : 200px;
    padding: 20px;
    margin : 20px;
    float : left;
}

#tool-box a:link {
    color: #848484;
}
#tool-box a:hover, a:focus, a:active {
    color: black;
    text-decoration: none;
}

#tool-box a:visited {
    color: #848484;;
}

/*#style {
    float : right;
    padding:20px;
    margin : 20px;
    margin-right: 100px;
    width: 800px;
    border-width:4px;
    border-style:outset;
    border-color:#848484;
    height: 600px;
}*/

#tool-titre {
    font-weight: bold;
}









