h2 {
    text-align : center;
    color: #848484;
}

svg {
	padding:25px;
	/*margin : 10px;*/
  margin-left:150px;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}


/*HOME*/
#tool-box {
    border-width:4px;
    border-style:outset;
    border-color:#848484;
    width : 200px;
    padding: 20px;
    margin : 20px;
    float : left;
}

#tool-box a:link {
    color: black;
}
#tool-box a:hover, a:focus, a:active {
    color: black;
    text-decoration: none;
}

#tool-box a:visited {
    color: black;;
}

#tool-titre {
    font-weight: bold;
}

form label {
    margin-left:10px;
    font-weight: normal;
}

form label font {
    margin-left: 5px;
    /*color : #848484;*/

}


#content {
    margin:30px;
    margin-bottom: -30px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#menu {
  margin-top:-2000px;
  float:right;
  width:200px;
}

#menu a {
  margin-top:5px;
  margin-bottom: 5px;
}